<!DOCTYPE html>
<html>
<head>
    <title>字典管理</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/font-awesome.min.css">
    <link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
    <link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="../../css/bootstrap-table.min.css">
    <link rel="stylesheet" href="../..//css/main.css">
    <link rel="stylesheet" href="../../plugins/treegrid/jquery.treegrid.css">
    <link rel="stylesheet" href="../../css/common.css">


    <script src="../../libs/jquery-3.3.1.js"></script>
    <script src="../../plugins/layer/layer.js"></script>
    <script src="../../libs/bootstrap.min.js"></script>
    <script src="../../libs/vue.min.js"></script>
    <script src="../../libs/bootstrap-table.min.js"></script>
    <script src="../../plugins/treegrid/jquery.treegrid.min.js"></script>
    <script src="../../plugins/treegrid/jquery.treegrid.bootstrap3.js"></script>
    <script src="../../plugins/treegrid/jquery.treegrid.extension.js"></script>
    <script src="../../plugins/treegrid/tree.table.js"></script>
    <script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
    <script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
    <script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>

    <script src="../../js/common/api.js"></script>
    <script src="../../js/common/common.js"></script>
    <script src="../../js/common/tool.js"></script>
    <script src="../../js/common/extend.js"></script>
</head>
<body style="height: 100%">
<div id="armorapp">
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" v-model="q.name" @keyup.enter="query" placeholder="名称">
            </div>
            <a class="btn btn-default" @click="query">查询</a>
            <div class="btn-group" role="group" aria-label="...">
                <a class="btn btn-primary btn-sm" @click="save"><i class="fa fa-plus"></i>&nbsp;新增</a>
                <a class="btn btn-primary btn-sm" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
            </div>
        </div>
        <div id="list"></div>
    </div>

    <div class="form-horizontal" style="display: none;" id="saveOrUpdate">
        <div class="form-group" style="display: none;">
            <div class="col-sm-2 control-label">id</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="formInfo.id" placeholder="id"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">字典名称</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="formInfo.dicName" placeholder="字典名称"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">字典编码</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="formInfo.mark" placeholder="字典编码"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-2 control-label">库编码</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="formInfo.column" placeholder="库编码"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">说明</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="formInfo.explain" placeholder="说明"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">状态</div>
            <label class="radio-inline">
                <input type="radio" name="isUse" value="0" v-model="formInfo.isUse"/> 禁用
            </label>
            <label class="radio-inline">
                <input type="radio" name="isUse" checked="checked" value="1" v-model="formInfo.isUse"/> 启用
            </label>
        </div>
    </div>
</div>
</body>
<script src="../../js/control/bootstrapTableTemplate.js"></script>
<script src="../../js/control/layerDialog.js"></script>
<script src="./js/dictionary.js"></script>
</html>