.tupian {
    /*background-image: url(../image/tian.gif);*/
    /*background-repeat: no-repeat;*/
    /*background-size: 100% 100%;*/
    /*-moz-background-size: 100% 100%;*/
}
.weizhi{
    z-index: 500;
}
#canvas{
    z-index: 0;
}
#ci-particles{
    position: fixed;
    z-index: 0;
}
.fontColor{
    color: white;
}